.layout {
  padding: 20px;
  max-width: 1550px;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__title { font-size: 22px; margin: 0; }
  &__subtitle { margin: 6px 0 0; opacity: 0.7; }

  &__main {
    display: grid;
    // grid-template-columns: 1.1fr 1fr;
    gap: 16px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }
}

